@using Microsoft.AspNetCore.Identity
@using UserAuth.Areas.Identity.Data

@inject SignInManager<MinervaUser> SignInManager
@inject UserManager<MinervaUser> UserManager



@if (SignInManager.IsSignedIn(User))
{
    <h1>Forum</h1>

    <p>Use this page to detail your site's privacy policy.</p>
}
