@using Microsoft.AspNetCore.Identity
@using UserAuth.Areas.Identity.Data

@inject SignInManager<MinervaUser> SignInManager
@inject UserManager<MinervaUser> UserManager


@if (SignInManager.IsSignedIn(User))

{

    <div class="m-bar">
        <span><i class="fa fa-ellipsis-v"></i></span>
    </div>
    <aside class="sidebar">
        <div class="user-side">
            <div class="user-pic">
                <img width="100" src="~/img/undraw_profile_pic_ic5t.svg" alt="" />
            </div>
            <div class="user-info">
                <span class="Username">@UserManager.GetUserName(User)</span>
                <span class="editprofile"><a id="manage" class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Edit Profile</a></span>
                <span class="logout">
                    <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">Logout</a>
                </span>
                        
                   
            </div>
            
        </div>
    </aside>
    
}


