@using Microsoft.AspNetCore.Identity
@using UserAuth.Areas.Identity.Data

@inject SignInManager<MinervaUser> SignInManager
@inject UserManager<MinervaUser> UserManager



@if (SignInManager.IsSignedIn(User))
{
<div class="search">
   
        <form>
            <input type="text" placeholder="Search Minerva..." />
            <button type="submit"><span><i class="fa fa-search"></i></span></button>
        </form>
   
    @*How do I create active div tag when the view is active?*@
</div> 
<ul>
    <li>
        <span>
            <a id="MarketPlace" class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="MarketPlace"><i class="fa fa-home"></i></a>
        </span>@*Marketplace*@
    </li>
    <li>
        <span>
            <a id="profile" class="nav-link text-dark" asp-area="" asp-controller="Photo" asp-action="Index"><i class="fa fa-user-circle"></i></a>
        </span>@*USER homepage*@
    </li>
    <li>
        <span>
            <a id="chat" class="nav-link text-dark" asp-area="" asp-controller="Chat" asp-action="Chatroom"><i class="fa fa-comment"></i></a>
            
        </span>@*Chatroom*@
    </li>
    <li>
        <span>
            <a id="chat" class="nav-link text-dark" asp-area="" asp-controller="Posts" asp-action="Index"> <i class="fa fa-pencil-square"></i></a>
</span>@*Forum*@
    </li>
    <li>
        <span>
            <a id="chat" class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Events"><i class="fa fa-calendar"></i></a>
</span>@*Events*@
    </li>
</ul>
}
