@model IEnumerable<UserAuth.Models.Posts>

@{
    ViewData["Title"] = "Index";

}
@using Microsoft.AspNetCore.Identity
@using UserAuth.Areas.Identity.Data

@inject SignInManager<MinervaUser> SignInManager
@inject UserManager<MinervaUser> UserManager



@if (SignInManager.IsSignedIn(User))
{

    <p>
        <a class="btn btn-primary" asp-action="Create">Create New</a>
    </p>

<div class="row">
    @foreach (var item in Model)
    {

        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    @item.TimeStamp
                </div>
                <div class="card-body">
                    <h4 class="card-title ">@item.PostName</h4>
                    <p class="card-text">
                        @{
                            var desc = item.Content;

                        }
                        @desc.Substring(0, 10)....
                    </p>
                    <a asp-action="Details" asp-route-id="@item.PostId" class="btn btn-primary">Click Read More</a>
                </div>
            </div>
        </div>
    }
</div>
  }

